@media (max-width: 1024px) {
    .container {
        max-width: 994px;
    }

    .header {
        position: relative;
    }

    .header__nav {
        padding-top: 50px;
        position: absolute;
        inset: 0;
        z-index: 1000;
        background-color: var(--color-bg);
        height: 100vh;
    }

    .menu {
        flex-direction: column;
        gap: 25px;
    }

    .menu__item {
        width: 100%;
        text-align: center;
    }

    .munu__link {
        display: block;
        width: 100%;
    }

    .header__icons {
        left: -50%;
    }

    .hero__container::after {
        top: 150px;
        height: 100%;
    }

    .hero__video {
        bottom: 10%;
        right: 21%;
        transform: translate(20%, 17%) rotate(1deg); 
    }
    
   
}

@media (max-width: 992px) {
    .container {
        max-width: 962px;
    }

    .header {
        padding: 0;
    }
    
    .hero__content {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .hero__container {
        display: flex;
        flex-direction: column;
    }

    .hero__container::after {       
        position: relative;
        top: -120px;
        height: 700px;
    }

    .hero__title, .hero__descr {
        text-align: center;
    }

    .hero__link { 
        margin-bottom: 20px;
    }

    .hero__video {
        bottom: 28%;
        max-width: 210px;
        transform: translate(16%, 17%) rotate(1deg);
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 762px;
    }
    
    .hero__container::after { 
        top: 0;
        height: 500px;
        background-image: url(../images/iphone.png);
        background-position: center;
    }

    .hero__video {
        bottom: 7%;
        right: 37%;        
        max-width: 200px;
        transform: translate(0, 0) rotate(0deg);
    }
}

@media (max-width: 562px) {
    .container {
        max-width: 532px;
    }

    body {
        font-size: 14px;
    }

    .header__container {
        flex-direction: column;
    }

    .header__left {
        width: 100%;
        justify-content: space-between;
    }

    .hero__title {
        font-size: 3.5rem;          
        word-break: break-word;
    }

    .hero__descr {
        font-size: 1rem;
    }

    .hero__video {
        right: 31%;
    }
}

@media (max-width: 380px) {
    .hero__video {
        right: 20%;
    }
}