.header-personal__container {
    padding: 20px 15px;
}

.main-personal {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.main-personal__container {
    margin-top: 30px;
    width: 100%;
    height: 100%;   
    position: relative; 
    display: flex;
    gap: 40px;
}

.aside-personal {
    padding: 40px 20px;    
    flex-shrink: 0;
    width: 400px;
    height: 100%;    
    border-right: 2px solid var(--color-blue);
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.aside-personal.hidden {
    transform: translateX(-100%);
    width: 20px;
    border-right: none;
}

.aside-personal__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    width: 100%;   
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.aside-personal.hidden .aside-personal__inner {
    opacity: 0;
    visibility: hidden;    
}

.aside-personal__close {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
    width: 20px;
    height: 20px;
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    transform: rotate(-135deg);
    transition: transform 0.3s ease-in-out;
}

.aside-personal__close.show {
    transform: rotate(45deg);
}

.aside-personal__box {   
    position: relative;
    width: 100%;    
}

.box__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    transform: rotate(135deg);
    transition: transform 0.3s ease-in-out;
}

.box__close.visible {
    transform: rotate(-45deg);
}

.aside-menu {   
    padding-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    transform: translateY(-100%);
    border-bottom: 1px solid rgba(83, 95, 246, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.aside-menu.visible {
    transform: translateY(5%);
    opacity: 1;
    visibility: visible;
}

.aside-menu__title {
    padding: 0 0 25px 30px;
    font-size: 24px;
    color: var(--color-second);
    text-transform: uppercase;
}

.aside-menu__item {
    padding: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid transparent;
    transition: border 0.5s ease-in-out;
}

.aside-menu__item::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(242,144,105);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(150%, rgba(242,144,105,0.5)));
    background: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242,144,105,0.5) 150%);
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(242,144,105,0.5) 150%);
    opacity: 0;
    visibility: hidden;    
}

.aside-menu__item.active {
    border-color: var(--color-second);
}

.aside-menu__item.active::after {
    opacity: 1;
    visibility: visible;
}

.aside-menu__item.disabled {
    filter: brightness(50%);
}

.aside-menu__btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    color: var(--color-white);   
    text-transform: uppercase;    
}

.aside-menu__icon {
    width: 40px;
    height: 40px;
    -webkit-transition: fill 0.3s ease-in-out;
    -o-transition: fill 0.3s ease-in-out;
    transition: fill 0.3s ease-in-out;
    fill: var(--color-white)
}

/*Content*/
.personal-content {
    padding: 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1;
    transition: flex 0.3s ease-in-out;
    overflow: hidden;
}

.personal-section {
    padding: 20px;    
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    border: 1px solid rgba(83, 95, 246, 0.4);
}

.personal-section__title {
    font-size: 42px;   
    text-transform: uppercase;
    color: var(--color-second);
}

.personal-section__subtitle {
    font-size: 42px;   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.personal-section__subtitle::first-letter {
    text-transform: uppercase;
}

.personal-section__descr {
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
/*News*/
.news {
    display: grid;
    gap: 30px;
    background-color: rgba(var(--color-blue-r), 0.2);
}

.new__top {
    display: grid;
    grid-template-columns: 100px 1fr;
    width: 100%;
    gap: 40px;
}

.news__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}

.news__img {
    border-radius: 20px;
}

.news__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

/*Playlists*/

/*Track*/
.track {
    display: grid;
    grid-template-columns: 100px auto 30%;
    gap: 40px;
}

.track__img {
    border-radius: 20px;
}

.track__content {
    display: grid;
    gap: 20px;
}

.track__name {
    font-size: 24px;
}

.track__name::first-letter {
    text-transform: uppercase;
}

.track__actions {
    display: grid;
    gap: 10px;
}

.track__btn {
    padding: 7px 5px;
    width: 100%;
    min-width: 70px;   
    border: 1px solid var(--color-blue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    transition: border 0.3s ease-in-out;
}

.track__btn:focus {
    border-color: var(--color-second);
}

.track__btn:hover {
    border-color: var(--color-second);
}

.track__btn:disabled {
    filter: brightness(50%);
    cursor: not-allowed;
    border-color: transparent;
}

.track__icon {
    width: 50px;
    height: 50px;
}

.track__icon--like path {
    fill: var(--color-gray);
}

.track__like.like > .track__icon--like path {
    fill: var(--color-second);
}

.track__icon--donat path {
    fill: var(--color-gray);
}

.track__btn:active .track__icon--play rect {
    fill: var(--color-second);
}

.track__btn--text {
    color: var(--color-white);
}